<a href="https://colab.research.google.com/github/joonsol/python-2025/blob/main/python_%EC%A0%95%EB%A6%AC%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello python!")
print(int(10.5))

hello python!
10

# 1.자료형 출력하기

In [ ]:
#정수형
x=10.5
y=5
z=x+y
print(z)
print(f"x:{x} y:{y} z:{z}")
print(type(z))

15.5
x:10.5 y:5 z:15.5
<class 'float'>

In [ ]:
# 실수형
pi =3.14159
radius=5
area=pi*radius*radius
print(area)
print(f"pi:{pi} radius:{radius} area:{area}")
print(type(area))

78.53975
pi:3.14159 radius:5 area:78.53975
<class 'float'>

In [ ]:

# 문자열
name="Jhon"
greeting =f"Hello ,{name}"
print(greeting)
print(type(greeting))

Hello ,Jhon
<class 'str'>

In [ ]:
# boolean
is_active=True
is_looed_in=False
if is_active:
  print("활성화 상태입니다.")
else:
  print("비활성화 상태입니다.")

  if is_looed_in:
    print("로그인 상태입니다.")
  else:
    print("로그아웃 상태입니다.")

print(type(is_looed_in))

활성화 상태입니다.
<class 'bool'>

In [ ]:
# list
numbers =[1,2,3,4,5]
numbers.append(6)
print(numbers)
print(f"리스트의 길이:{len(numbers)}")

print(type(numbers))

[1, 2, 3, 4, 5, 6]
리스트의 길이:6
<class 'list'>

In [ ]:
# tuple
coordinates=(10,20)
print(coordinates[0])
print(coordinates[1])
# coordinates[0]=30

10
20

In [ ]:
# dict
person={"name":"John","age":30,"city":"New York"}
print(person["name"])
print(person["age"])
print(person["city"])
print(type(person))

John
30
New York
<class 'dict'>

In [ ]:
# set
unique_numbers={1,2,3,4,5,1,2,3}
print(unique_numbers)
print(type(unique_numbers))

{1, 2, 3, 4, 5}
<class 'set'>

# 2.문자열처리

In [ ]:
text ="Hello, Python"
print(text[0])
print(text[2])
print(text[-1])
print(text[0:5])
print(text[7:])
print(text[:5])

H
l
n
Hello
Python
Hello

In [ ]:
name="Alice"
age=25
print(f"{name}의 나이는 {age}세 입니다")

#format
print("{}의 나이는 {}세 입니다".format(name,age))
#%
print("%s의 나이는 %d세 입니다"%(name,age))

Alice의 나이는 25세 입니다
Alice의 나이는 25세 입니다
Alice의 나이는 25세 입니다

In [ ]:
s=" Hello Hello"
print(s.strip())#앞뒤공백제거
print(s.upper())#대문자
print(s.lower())#소문자

Hello Hello
 HELLO HELLO
 hello hello

In [ ]:
s = " Hello "
print(s.strip())  # 'Hello'//양끝 공백만 제거됨

Hello

#3.사용자입력

In [ ]:
name = input("이름을 입력하세요: ")
print(f"{name}님, 반갑습니다.")

In [ ]:
x,y = input("두 숫자를 입력하세요 (예:10,20): ").split(",")
print(f"x:{x} y:{y}")

두 숫자를 입력하세요 (예:10,20): 10,20
x:10 y:20

#4.연산자

In [ ]:
a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))

print("덧셈:", a + b)
print("뺄셈:", a - b)
print("곱셈:", a * b)
print("나눗셈:", a / b)
print("몫:", a // b)
print("나머지:", a % b)
print("거듭제곱:", a ** b)

In [ ]:
age =int(input("나이를 입력하세요:"))

is_teenager = age >= 13 and age <= 19

print("청소년 여부",is_teenager)

나이를 입력하세요:17
청소년 여부 True

In [ ]:
score=int(input("점수를 입력하세요"))

if score>=60:
    print("합격입니다")
else:
    print("불합격입니다.")

# 5.실습문제

In [ ]:
#사용자로부터 이름과 나이를 입력받아 다음 형식으로 출력하시오.

#예: `홍길동님은 25세입니다.`
name=(input("이름을 입력하세요:"))
age=(input("나이를 입력하세요:"))

print(f"{name}님은 {age}세입니다.")

이름을 입력하세요:alice
나이를 입력하세요:20
alice님은 20세입니다.

In [ ]:
# 두 개의 정수를 입력받아, 덧셈 결과를 출력하시오.

# 예: `10 + 20 = 30`

In [ ]:
num1=input("첫 번째 정수를 입력하세요:")
num2=input("두 번째 정수를 입력하세요:")
# num1=int(input("첫 번째 정수를 입력하세요:"))
# num2=int(input("두 번째 정수를 입력하세요:"))

print(f"{num1} + {num2} = {num1+num2}")

첫 번째 정수를 입력하세요:10
두 번째 정수를 입력하세요:5
10 + 5 = 105

In [ ]:
# 사용자로부터 반지름을 입력받아 원의 넓이를 계산하시오.

# (원의 넓이 = 3.14 × 반지름²)
pi = 3.14#float
# radius = float(input("반지름을 입력하세요: "))#실수로
radius = int(input("반지름을 입력하세요: "))#w정수로

# float × int × int → float

area = pi * radius * radius

print(f"원의 넓이: {area}")
print(f"원의 넓이: {area:.2f}")  # 소수점 둘째자리까지

반지름을 입력하세요: 6
원의 넓이: 113.03999999999999
원의 넓이: 113.04

In [ ]:
# 사용자로부터 정수를 입력받아 짝수인지 홀수인지 판별하시오.
num = int(input("정수를 입력하세요 : "))
if num%2==0:
    print("짝수")
else :
    print("홀수")

정수를 입력하세요 : 20
짝수

In [ ]:
# 사용자로부터 키(cm)와 몸무게(kg)를 입력받아 BMI 지수를 계산하시오.

# (BMI = 몸무게 / (키 × 키), 단 키는 m 단위로 변환)
height = float(input("키를 입력하세요"))
weight = int(input("몸무게를 입력하세요"))

height_m=height/100

bmi = weight /(height_m**2)

print(f"당신의 BMI는 {bmi}")

키를 입력하세요169
몸무게를 입력하세요52
당신의 BMI는 18.20664542558034

# 6.조건문

In [ ]:
x=10
if x>5:
    print("x는 5보다 큽니다.")

x는 5보다 큽니다.

In [ ]:
x=int(input("숫자를 입력하세요"))


if x>10:
    print("x는 10보다 큽니다.")
elif x>5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5작거나 같습니다.")

숫자를 입력하세요6
x는 5보다 큽니다.

In [ ]:
# 중첩조건문
#age=20
#student=True
age=int(input("나이를 입력하세요: "))
student=input("학생이면 '학생' 아니면 '기타'라고 적어주세요 : ")

if age>=18:
    if student=="학생":
        print("성인 학생입니다.")
    else:
        print("성인이지만 학생은 아닙니다.")

나이를 입력하세요18
학생이면 '학생' 아니면 '기타'라고 적어주세요학생
성인 학생입니다.

In [ ]:
# 3항 연산자
x=3
result ="x는 5보다 큽니다." if x>5 else "x는 5보다 작거나 같습니다."
print(result)

x는 5보다 작거나 같습니다.

In [ ]:
# 논리연산자
x=7

if x>5 and x<10:
    print("x는 5보다 크고, 10보다 작습니다.")

if x<5 or x>10:
    print("x는 5보다 작거나 10보다 큽니다.")
else:
    print("x는 5이상 10이하입니다.")

x는 5보다 크고, 10보다 작습니다.
x는 5이상 10이하입니다.

In [ ]:
# 비교연산자
x=10
y=20

if x==y:
    print("x와 y는 같습니다.")
elif x!= y:
    print("x와 y는 다릅니다.")

x와 y는 다릅니다.

In [ ]:
# 포함 연산자
my_list =[1,2,3,4,5]

if 3 in my_list:
    print("리스트에 3이 포함되어 있습니다.")

if 6 not in my_list:
    print("리스트에 6이 포함되어 있지 않습니다.")

리스트에 3이 포함되어 있습니다.
리스트에 6이 포함되어 있지 않습니다.

# 7.실습문제

In [ ]:
# 1.사용자로부터 정수를 입력받아 양수, 음수, 0 중 어떤 값인지 출력하세요.
x=int(input("정수를 입력하세요"))

if x>0:
    print("양수입니다.")
elif x<0:
    print("음수입니다.")
else:
    print("0입니다.")

정수를 입력하세요0
0입니다.

In [ ]:
# 2.사용자로부터 정수를 입력받아 짝수인지 홀수인지 출력하세요.
y=int(input("정수를 입력하세요"))

if y%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

정수를 입력하세요48
짝수입니다.

In [ ]:
# 두 개의 정수를 입력받아 더 큰 값을 출력하세요.
x=int(input("첫번째 수를 입력하세요"))
y=int(input("두번째 수를 입력하세요"))

if x>y :
    print(f" 더 큰수는{x}입니다.")
else:
    print(f" 더 큰수는{y}입니다.")

첫번째 수를 입력하세요10
두번째 수를 입력하세요30
 더 큰수는30입니다.

In [ ]:
# 점수를 입력받아 아래 기준에 따라 학점을 출력하세요.
score = int(input("점수를 입력하세요: "))

if score>=90:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
    print("C")
else:
    print("D")

점수를 입력하세요59
D

In [ ]:
# 5.숫자 리스트 [3, 7, 9, 12] 안에 입력받은 숫자가 있는지 확인하세요.
my_list =[3, 7, 9, 12]

x = int(input("검색할 숫자를 입력하세요"))

if x in my_list:
    print(f"리스트에 {x}가 있습니다.")
else:
    print(f"리스트에 {x}가 없습니다.")

검색할 숫자를 입력하세요9
리스트에 9가 있습니다.

In [ ]:
# 6.두 개의 정수를 입력받아 같으면 "같습니다", 다르면 "다릅니다"를 출력하세요.
x=int(input("첫번째 숫자 입력"))
y=int(input("두번째 숫자 입력"))

if x==y:
    print(f"{x}와 {y}는 같습니다.")
else:
    print(f"{x}와 {y}는 같지 않습니다.")

In [ ]:
# 7.사용자로부터 문자열을 입력받아 길이가 5자 이상이면 “길어요”, 아니면 “짧아요”를 출력하세요.

word = input("단어를 입력하세요: ")

if len(word)>=5:
    print("길어요")
else:
    print("짧아요")

In [ ]:
# 8 정수를 입력받아 1 이상 100 이하인지 확인하고, 범위 안에 있으면 "정상", 아니면 "범위 초과"를 출력하세요.
# 입력 예: 150
# 출력 예: 범위 초과
num1 = int(input("숫자를 입력하세요"))
if 1<=num1 & num1<=100:
    print("범위안")
else:
    print("범위밖")

In [ ]:
# 9.아이디는 "admin", 비밀번호는 "1234"일 때만 "로그인 성공"을 출력하세요.
admin = input("아이디를 입력하세요")
pw = int(input("비밀번호를 입력하세요"))

if admin=="admin" and pw==1234:
    print("로그인 성공")
else:
    print("로그인 실패")

KeyboardInterrupt: Interrupted by user

In [ ]:
# 10 정수를 입력받아 3의 배수인지 아닌지를 판별하세요.

# 입력 예: 9
# 출력 예: 3의 배수입니다.

num1 = int(input("숫자를 입력하세요 : "))
if num1%3==0:
    print("3의 배수입니다")
else:
    print("3의 배수가 아닙니다")

# 8-1.반복문

In [ ]:
nums = [10, 20, 30, 40, 50]
print(nums[0])    # 10
print(nums[-1])   # 마지막 요소: 50
print(nums[1:4])  # 20, 30, 40

10
50
[20, 30, 40]

In [ ]:
animals = ["개", "고양이", "토끼"]
for animal in animals:
    print(animal)

개
고양이
토끼

In [ ]:
# 과일 리스트
fruits =["사과","바나나","딸기"]

print("과일 목록:")
for f in fruits:
    print("-", f)

과일 목록:
- 사과
- 바나나
- 딸기

In [ ]:
names=[]

for i in range(3):
    name = input(f"{i+1}번째 이름을 입력하세요: ")
    names.append(name)

print("입력한 이름들:",names)

# 8-2.실습문제-배열반복문

In [ ]:
# 숫자 5개로 이루어진 리스트를 생성하고, 모든 요소의 합과 평균을 출력하시오.
num_list =[10,15,20,25,30]

sum=0
for num in num_list:
    sum+=num

avg=int(sum/len(num_list))

print(f"리스트 합: {sum}")
print(f"리스트 평균: {avg}")

리스트 합: 100
리스트 평균: 20

In [ ]:
# 리스트에 저장된 점수 중 60점 이상만 출력하시오.
score =[55,90,70,60,100]

count=0

for i in score :
    if i >=60:
        print(i)
        count+=1


print(f"60점 이상인 학생 수: {count}명")

60점 이상인 학생 수: 4명

In [ ]:
# 3명의 이름을 입력받아 리스트에 저장한 후 출력하시오.
names=[]

for i in range(3):
    name=input("이름을 입력하세요")
    names.append(name)
print(names)

이름을 입력하세요가
이름을 입력하세요나
이름을 입력하세요다
['가', '나', '다']

In [ ]:
# 사용자로부터 과일 이름 3개를 입력받아 리스트로 저장하고, 그 중 첫 번째 과일만 출력하시오.
fruits=[]


for i in range(3):
    fruit=input("과일 이름을 입력하세요")
    fruits.append(fruit)


print(f"첫번째 과일 : {fruits[0]}")

과일 이름을 입력하세요사과
과일 이름을 입력하세요딸기
과일 이름을 입력하세요포토
첫번째 과일 : 사과

In [ ]:
# 리스트 [1, 2, 3, 4, 5]에서 짝수만 새로운 리스트에 담고 출력하시오

num_list =[1,2,3,4,5]
new_list=[]
for num in num_list:
    if num%2==0:
        new_list.append(num)

print(new_list)

[2, 4]

# 8-3. 배열반복문

In [7]:
# nums =[]
# num=0
# for i in range(10):
#     num+=1
#     nums.append(num)

# print(nums)

for i in range(1,11,2):#range(시작값, 끝값, 간격)
    print(i)

1
3
5
7
9

In [ ]:
str1 ="안녕하세요"

num =int(input("숫자를 입력하세요"))

for i in range(num) :
    print(str1)

숫자를 입력하세요10
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
result = ""
for i in range(1, 101):
    if i % 4 == 0:
        result += str(i)+","

print(result.rstrip(","))#맨끝 쉼표 제거

4,8,12,16,20,24,28,32,36,40,44,48,52,56,60,64,68,72,76,80,84,88,92,96,100

In [ ]:
# 사용자로부터 숫자 5개를 입력받아 리스트에 저장하고, 반복문을 사용하여 모두 출력하시오
nums=[]

for num in range(5):
    num=int(input("숫자를 입력하세요"))
    nums.append(num)
print(nums)

숫자를 입력하세요5
숫자를 입력하세요55
숫자를 입력하세요4
숫자를 입력하세요25
숫자를 입력하세요3
[5, 55, 4, 25, 3]

In [ ]:
# 1부터 10까지의 숫자를 더한 총합을 출력하시오.
sum=0
for i in range(11):
    sum+=i


print(f"총 합은 : {sum}")

총 합은 : 55

# 9-1. 함수의정의

In [ ]:
def greet(name):
    return f"Hello {name}!"
message=greet("Alice")

print(message)

Hello Alice!

In [ ]:
def add(a,b):
    return a+b
result = add(5,4)
print(result)

9

#9-2.함수의 유형

In [ ]:
# 매개변수가 없는 함수
def say_hello():
    print("Hello")

say_hello()

Hello

In [ ]:
# 반환값이 없는 함수
def greet(name="guest"):
    print(f"Hello {name}님!")

greet("Alice")
greet()

Hello Alice님!
Hello guest님!

In [5]:
# 매개변수의 개수가 가변적인 경우, args나 *kwargs를 사용합니다.
def add_numbers(*keyword):
    return sum(keyword)#sum() 내장함수

print(add_numbers(1,2,3,4))
# *keyword에서 *의 의미는 "가변 인자"를 받겠다는 뜻입니다.
# 즉, 함수에 몇 개의 인자를 넣든 전부 **하나의 튜플(tuple)**로 묶어서 keyword에 전달합니다.

10

In [2]:
# 매개변수의 개수가 가변적인 경우, args나 *keys를 사용합니다.
def print_info(**keys):
    for key, value in keys.items():
        print(f"{key}:{value}")

print_info(name="Alice",age=25)

name:Alice
age:25

# 9-3 lambda

In [ ]:
square=lambda x:x**2
print(square(5))
print(square(6))

circle =lambda a,b,c:a*b*c

print(circle(2,4,3))

25
36
24

# 9-4 실습예제

In [9]:
#  리스트의 각 항목 제곱하기 (map + lambda)
numbers =[1,2,3,4,5]
squares =list(map(lambda x:x **2,numbers))

print(squares)

[1, 4, 9, 16, 25]

In [10]:
# 특정 조건으로 필터링 (filter + lambda)

numbers = [10, 15, 21, 30, 33, 40]
result =list(filter(lambda x:x%3==0,numbers))

print(result)

[15, 21, 30, 33]

In [11]:
# 3. 리스트 정렬 기준 지정 (sorted + lambda)

students = [
    ("홍길동", 90),
    ("이순신", 85),
    ("유관순", 95)
]

sorted_students = sorted(students,key=lambda x:x[1], reverse=True)

print(sorted_students)

[('유관순', 95), ('홍길동', 90), ('이순신', 85)]

In [6]:
def outer_function(msg):
    def inner_function():
        print(msg+ "!!!!")
    inner_function()
outer_function("hello python")

hello python!!!!

In [ ]:
def factorial(n):
    if n==1:
        return 1
    return n*factorial(n-1)

print(factorial(5))

120

# 9-5 중첩함수

In [12]:
def outer_function(msg):
    def inner_function():
        print(msg)

    inner_function()

outer_function("hello, python!")

hello, python!

In [13]:
def outer(name):
    def inner():
        return f"{name} 안녕하세요"
    return inner()

print(outer("홍길동"))

홍길동 안녕하세요

In [15]:
def greeting(name):
    def message():
        print(f"{name}님 환영합니다.")
    return message

say_hi=greeting("파이썬")

say_hi()

파이썬님 환영합니다.

In [ ]:
#최대값 찾기
def max_fun(num):
    return max(num)

def min_fun(num):
    return min(num)
print(max_fun([1,2,3,4,5]))
print(min_fun([1,2,3,4,5]))

5
1

In [ ]:
def reverse_string(s):
    return s[s::-1]

print(reverse_string)

# 10.리스트

In [ ]:
nums = [1, 3, 5, 3, 9,3]

# nums.remove(3)#순서가 아닌 값value 첫번째 3을 지운다
# nums.append(7)
nums.insert(2,10)




print(nums)

nums.sort()
print(f" 정렬된 리스트: {nums}")

nums.reverse()
print(f" 뒤집은 리스트: {nums}")

[1, 3, 10, 5, 3, 9, 3]
 정렬된 리스트: [1, 3, 3, 3, 5, 9, 10]
 뒤집은 리스트: [10, 9, 5, 3, 3, 3, 1]

In [ ]:
import math

square =[x**2 for x in range(1,11)]


print(square)
# radius =[(y**2)*math.pi for y in range(1,5)]
radius =[round((y**2)*math.pi,2) for y in range(1,5)]

print(radius)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[3.14, 12.57, 28.27, 50.27]

In [ ]:
even = [x for x in range(1,21) if x%2==0]

print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 1. `range(1, 11)`의 수를 모두 리스트에 저장
# 2. 각 수의 세제곱을 저장한 리스트 생성 (리스트 컴프리헨션 사용)
# 3. 결과 리스트를 오름차순 정렬한 뒤, 뒤집어서 출력

squared =[x**3 for x in range(1,11)]

print(squared)

squared.sort()
squared.reverse()

print(squared)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1000, 729, 512, 343, 216, 125, 64, 27, 8, 1]

In [ ]:
nums =[]

for i in range(5):
    n= int(input(f"{i+1}번 숫자 입력:"))

    nums.append(n)

nums.sort()

print(f"정렬된 리스트 : {nums}")

1번 숫자 입력:9
2번 숫자 입력:4
3번 숫자 입력:8
4번 숫자 입력:7
5번 숫자 입력:3
정렬된 리스트 : [3, 4, 7, 8, 9]

#11. 튜플과 딕셔너리

In [ ]:
t = ("사과", "바나나", "포도")